body {
  padding-top: 52px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.production-slider-big {
  position: relative;
  margin-bottom: 8px;
}

.production-slider-big .slick-list {
  overflow: hidden;
}

.production-slider-big .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.production-slider-big .slick-slide {
  outline: none;
  width: 535px;
}

.production-slider-big .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  padding: 0;
  border: none;
}

.production-slider-small {
  position: relative;
  text-align: center;
  padding: 0px 28px;
  margin-bottom: 95px;
}

.production-slider-small .slick-list {
  overflow: hidden;
}

.production-slider-small .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.production-slider-small .slick-slide {
  cursor: pointer;
  outline: none;
}

.production-slider-small .slick-current .filter-dark::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: transparent;
}

.production-slider-small .slick-arrow {
  position: absolute;
  top: 0;
  height: 94px;
  width: 22px;
  z-index: 50;
  border: 1px solid #ff9d00;
  font-size: 0;
}

.production-slider-small .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/production/arrow-left.png") center no-repeat;
}

.production-slider-small .slick-arrow.slick-prev:hover {
  cursor: pointer;
  background: #ff9d00 url("../img/production/arrow-left_active.png") center no-repeat;
}

.production-slider-small .slick-arrow.slick-next {
  right: 0;
  background: url("../img/production/arrow-right.png") center no-repeat;
}

.production-slider-small .slick-arrow.slick-next:hover {
  cursor: pointer;
  background: #ff9d00 url("../img/production/arrow-right_active.png") center no-repeat;
}

.main-img {
  position: relative;
}

.main-img__item {
  width: 100%;
}

.main-img .slick-list {
  overflow: hidden;
}

.main-img .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-img .slick-slide {
  outline: none;
}

.main-img .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  padding: 0;
  border: none;
}

.feedback-slider {
  margin: auto;
  width: 938px;
  position: relative;
  text-align: center;
  padding: 0px 25px;
}

.feedback-slider .slick-list {
  overflow: hidden;
}

.feedback-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-slider .slick-slide {
  cursor: pointer;
  outline: none;
}

.feedback-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -26.5px;
  height: 47px;
  width: 10px;
  z-index: 50;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.feedback-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/feedback/arrow_l.png") center no-repeat;
}

.feedback-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/feedback/arrow_r.png") center no-repeat;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus,
button:focus {
  outline: none;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden-desktop {
  display: none;
}

.p-l-0 {
  padding-left: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-l-1 {
  padding-left: 5px;
}

.p-r-1 {
  padding-right: 5px;
}

.p-l-2 {
  padding-left: 10px;
}

.p-r-2 {
  padding-right: 10px;
}

.p-l-3 {
  padding-left: 15px;
}

.p-r-3 {
  padding-right: 15px;
}

.p-l-4 {
  padding-left: 20px;
}

.p-r-4 {
  padding-right: 20px;
}

.p-l-5 {
  padding-left: 25px;
}

.p-r-5 {
  padding-right: 25px;
}

.p-l-6 {
  padding-left: 30px;
}

.p-r-6 {
  padding-right: 30px;
}

.p-l-7 {
  padding-left: 35px;
}

.p-r-7 {
  padding-right: 35px;
}

.p-l-8 {
  padding-left: 40px;
}

.p-r-8 {
  padding-right: 40px;
}

.p-l-9 {
  padding-left: 45px;
}

.p-r-9 {
  padding-right: 45px;
}

.p-l-10 {
  padding-left: 50px;
}

.p-r-10 {
  padding-right: 50px;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  margin-top: 12px;
  content: '';
  display: block;
  height: 6px;
  background: url(../img/line.png) center no-repeat;
}

.button {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff9d00;
  font-size: 14px;
  padding: 13px 22px;
  outline: none;
  line-height: 20px;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  margin-right: 2px;
  vertical-align: middle;
}

.button_big {
  padding-top: 17px;
  padding-bottom: 18px;
  vertical-align: middle;
  height: 56px;
}

.button-o {
  border: 1px solid rgba(55, 55, 55, 0.5);
  background-color: transparent;
  color: #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid transparent;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
}

.minimized {
  width: 300px;
  cursor: pointer;
  border: 1px solid #FFF;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.minimized:hover {
  border: 1px solid darkgray;
}

#magnify {
  display: none;
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

#close-popup:hover {
  -webkit-animation: rota 4s infinite normal;
          animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rota {
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu {
  position: fixed;
  height: 52px;
  background-color: #373737;
  width: 100%;
  top: 0;
  z-index: 1001;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items__item {
  margin-top: 14px;
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
  height: 25px;
  width: 160px;
}

.menu-items__item:nth-last-child(1) {
  border: none;
}

.menu-items__item a {
  margin-top: -10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.menu-items__item a:hover {
  text-decoration: underline;
}

.menu .header-hum_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23px;
  height: 17px;
  position: relative;
  margin: auto;
  margin-left: 0px;
  margin-right: 15px;
  outline: none;
  position: absolute;
  right: 0;
  top: 20px;
}

.menu .header-hum_c:hover {
  cursor: pointer;
}

.menu .header-hum_c span,
.menu .header-hum_c span::after,
.menu .header-hum_c span::before {
  background-color: white;
}

.menu .header-hum_c span {
  background-color: transparent;
}

.menu .header-hum_c span::after {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .header-hum_c span::before {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay_m {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.header {
  z-index: 99;
  padding: 10px 0px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-hum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23px;
  height: 17px;
  position: relative;
  margin: auto;
  margin-left: 0px;
  margin-right: 15px;
  display: none;
  outline: none;
}

.header-hum:hover {
  cursor: pointer;
}

.header-hum__line {
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: #373737;
}

.header-hum__line::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: #373737;
  margin-top: 7px;
}

.header-hum__line::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: #373737;
  margin-top: -7px;
}

.header-logo {
  background: url(../img/header-logo.png) center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  color: #373737;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 13px;
}

.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.animate {
  -webkit-animation: move 1s;
          animation: move 1s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: rgba(55, 55, 55, 0.8) url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  z-index: 1;
}

.main-img {
  position: relative;
  z-index: 2;
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-text__subtitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-text__form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 25px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-text {
  margin-bottom: 20px;
  padding-right: 91px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-text__title {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.form__input {
  max-width: 365px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  vertical-align: middle;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 12px;
}

.form__tip {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
}

.features {
  background-color: #f4f4f4;
  padding: 49px 0px 30px 0px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 400;
}

.numbers {
  margin-bottom: 37px;
  text-align: center;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  font-size: 36px;
  font-weight: 900;
  color: #ff9d00;
  margin-bottom: 10px;
}

.numbers-block__title sup {
  font-size: 18px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  margin-bottom: 35px;
  text-align: center;
}

.products-block__img {
  margin: auto;
  width: 430px;
  height: 300px;
  margin-bottom: 19px;
}

.products-block__title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
}

.products-block__button {
  margin-right: 7px;
}

.offer {
  padding: 54px 0 59px 0;
  color: #ffffff;
  background: grey url(../img/offer/offer-bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 300;
}

.offer-title_small {
  display: block;
  font-size: 26px;
  margin-bottom: 15px;
}

.offer-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.offer-form__input {
  text-align: center;
  padding: 20px 110px;
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.offer-form__button {
  width: 180px;
  margin-bottom: 5px;
}

.production {
  padding-top: 87px;
}

.production-slider-big {
  z-index: 0;
}

.production-slider-big__item img {
  width: 100%;
}

.production-slider-small {
  margin-bottom: 40px;
}

.production-slider-small__item img {
  vertical-align: middle;
  height: 94px;
}

.production-slider-small__item .filter-dark {
  position: relative;
  display: inline-block;
}

.production-slider-small__item .filter-dark::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.production-text__header {
  padding-left: 30px;
  margin-left: -30px;
  width: 100%;
  height: 62px;
  background-color: #ff9d00;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}

.production-text__text {
  padding-right: 30px;
  padding: 25px 30px 25px 0px;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #373737;
}

.production-text__text p {
  display: block;
  margin-bottom: 10px;
}

.clients {
  padding-top: 55px;
  margin-bottom: 29px;
}

.clients__client {
  margin: auto;
  margin-bottom: 32px;
  width: 250px;
  height: 153px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__client img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.clients__client:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.feedback {
  padding: 55px 0px 66px 0px;
  background-color: #f4f4f4;
}

.feedback h2 {
  margin-bottom: 30px;
}

.feedback-slider__slide img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  width: 274px;
  height: 377px;
}

.contacts {
  position: relative;
  font-weight: 300;
}

.contacts__title {
  color: #313131;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.contacts-block {
  position: absolute;
  left: 25%;
  top: 10%;
  background-color: #fff;
  padding: 35px 45px;
  padding-left: 60px;
  border: 1px solid #eee;
  -webkit-box-shadow: 1px 3px 5px 0 grey;
          box-shadow: 1px 3px 5px 0 grey;
  border-radius: 5px;
}

.contacts-block__title {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__title::before {
  position: absolute;
  content: '';
  left: -30px;
  top: 4px;
  height: 100%;
  width: 20px;
}

.contacts-block__text {
  margin-bottom: 25px;
}

.contacts-block__address span:nth-child(1)::before {
  background: url("../img/map_s.png") top center/contain no-repeat;
}

.contacts-block__phone {
  margin-bottom: 15px;
  line-height: 25px;
}

.contacts-block__phone span:nth-child(1)::before {
  background: url("../img/phone_s.png") top center/contain no-repeat;
}

.contacts-block__phone .contacts-block__title {
  margin-bottom: 0px;
}

.contacts-block__cta {
  margin-bottom: 15px;
}

.contacts-block__mail {
  margin-bottom: 0px;
}

.contacts-block__mail span:nth-child(1)::before {
  background: url("../img/mail_s.png") top center/contain no-repeat;
}

.contacts .map {
  width: 100%;
  height: 550px;
}

.footer {
  height: 83px;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer span {
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.popup {
  cursor: default;
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.popup__title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  font-weight: 500;
  line-height: 71px;
}

.popup__close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.popup-form {
  background: url(../img/modal/modal-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 35px 88px 40px 88px;
  color: #fff;
}

.popup-form-header {
  cursor: text;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  padding: 0;
  text-align: center;
  width: 580px;
}

.popup-form-header span {
  font-size: 24px;
}

.popup-form__label {
  display: block;
  margin: 20px auto 10px auto;
  width: 300px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.popup-form__btn {
  margin-left: 8px;
  width: 180px;
  height: 56px;
  font-weight: 500;
  line-height: 22px;
}

.popup-form__input {
  padding: 20px 18px;
  width: 365px;
  height: 56px;
  border-radius: 5px;
  border: none;
}

.popup-form__note {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 1600px) {
  .contacts-block {
    left: 15%;
  }
}

@media (max-width: 1200px) {
  .contacts-block {
    left: 10%;
  }
}

@media (max-width: 992px) {
  .menu-items__item {
    position: relative;
    border: none;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-items__item::after {
    position: absolute;
    content: '';
    right: -10px;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .menu-items__item:nth-last-child(1)::after {
    background-color: transparent;
  }

  .menu-items__item a {
    margin-top: -10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  .menu-items__item a:hover {
    text-decoration: underline;
  }

  .header-contacts__phone {
    font-size: 16px;
    padding: 0px 8px;
  }

  .button {
    padding: 8px 16px;
    font-size: 12px;
  }

  .feedback-slider {
    padding: 0px 12px;
    width: 100%;
  }

  .feedback-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -39px;
    height: 78px;
    width: 22px;
    z-index: 50;
    border: 1px solid #ff9d00;
    font-size: 0;
  }

  .feedback-slider .slick-prev {
    left: 0;
    background: url("../img/production/arrow-left.png") center no-repeat !important;
  }

  .feedback-slider .slick-prev:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-left_active.png") center no-repeat !important;
  }

  .feedback-slider .slick-next {
    right: 0;
    background: url("../img/production/arrow-right.png") center no-repeat !important;
  }

  .feedback-slider .slick-next:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-right_active.png") center no-repeat !important;
  }

  .feedback-slider__slide {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }

  .feedback-slider__slide img {
    height: 377px;
    width: 274px;
  }

  .main {
    padding-top: 45px;
    background-size: cover;
  }

  .main-text__title {
    font-size: 26px;
  }

  .main-text__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .main .form-text {
    padding: 0;
    font-size: 16px;
  }

  .features-block {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }

  .features .numbers-block__title {
    font-size: 26px;
  }

  .features .numbers-block__text {
    font-size: 14px;
  }

  .products {
    padding-bottom: 10px;
  }

  .products .row .col-12:nth-child(3) .products-block__img {
    height: 227px;
  }

  .products-block {
    min-height: 380px;
  }

  .products-block__img {
    width: 100%;
    min-width: 250px;
    height: 250px;
  }

  .contacts-block {
    left: 10%;
  }

  .popup {
    width: 600px;
  }

  .popup-form {
    padding: 20px 50px;
  }

  .popup-form__input {
    margin-bottom: 15px;
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .popup-form__btn {
    font-size: 16px;
  }

  .popup-form-header {
    width: 100%;
    font-size: 25px;
  }

  .popup-form-header span {
    font-size: 20px;
  }

  .popup .main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .section-title::after {
    height: 0;
    width: 0;
  }

  .header-hum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-logo {
    background: #ff9d00 url(../img/header-logo_mobile.png) center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }

  .header-contacts__phone {
    font-size: 14px;
  }

  .header-contacts__phone span {
    font-weight: 900;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-contacts__phone:nth-child(2) {
    border: none;
    margin-right: 0;
  }

  .header-contacts__button {
    display: inline-block;
    padding: 9px !important;
    font-size: 15px;
    line-height: 0;
  }

  .header-contacts__button img {
    width: 14px;
    height: 16px;
  }

  .header-contacts__button span {
    width: 0;
    height: 0;
  }

  .overlay_m .menu {
    display: block;
    position: fixed;
    height: 100%;
    background-color: #373737;
    width: 70%;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .overlay_m .menu-items {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .overlay_m .menu-items__item {
    margin-top: 25px;
    border-right: none;
    height: 35px;
    width: 100%;
  }

  .overlay_m .menu-items__item::after {
    display: none;
  }

  .overlay_m .menu-items__item:nth-last-child(1) {
    border: none;
  }

  .overlay_m .menu-items__item a {
    margin-top: -10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .overlay_m .menu-items__item a:hover {
    text-decoration: underline;
  }

  .main {
    padding: 40px 0;
    text-align: center;
    background-size: cover;
  }

  .main-text__title {
    font-size: 22px;
    color: #ff9d00;
  }

  .main-text__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .main-text__form {
    background-color: transparent;
    padding: 0;
  }

  .main-text__form .button {
    padding: 13px;
  }

  .features-block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form {
    display: block;
  }

  .form-text {
    max-width: 300px;
    margin: auto;
    padding-right: 0;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 13px;
  }

  .form-text__title {
    padding-top: 10px;
    display: block;
  }

  .form input:nth-child(2) {
    width: 180px;
    height: 51px;
    padding-top: 14px;
    display: block;
    margin: auto;
  }

  .form__input {
    margin: auto;
    padding: auto;
    width: 270px;
    margin-bottom: 13px;
    padding: 17px 55px;
    font-size: 13px;
  }

  .form__tip {
    margin-left: 0;
    padding-top: 10px;
    font-size: 13px;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .features {
    padding-top: 24px;
  }

  .features-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features-block {
    margin-bottom: 8px;
  }

  .button {
    padding: 15px 22px;
    font-size: 16px;
  }

  .products {
    padding-top: 32px;
    padding-bottom: 0px;
  }

  .products-block__img {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
  }

  .products-block__img img {
    margin: auto;
  }

  .products-block .karton {
    height: 90% !important;
  }

  .products .row .col-12:nth-child(3) .products-block__img {
    height: 300px;
  }

  .products .row .col-12:nth-child(4) .products-block {
    margin-bottom: 10px;
  }

  .offer {
    padding: 30px 0;
  }

  .offer-title {
    width: 300px;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
  }

  .offer-title_small {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 400;
  }

  .offer-form__label {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }

  .offer-form__button {
    margin-bottom: 10px;
  }

  .form__small {
    font-size: 13px;
    font-weight: 300;
  }

  .production {
    padding-top: 0;
  }

  .production-slider-small {
    height: auto;
    margin-bottom: 27px;
  }

  .production-slider-small .slick-arrow {
    top: 50%;
    margin-top: -39px;
    height: 78px;
  }

  .production-slider-small .slick-slide {
    height: 100%;
  }

  .production-slider-small .slick-slide .filter-dark img {
    height: 100%;
    width: 100%;
  }

  .production-text__text {
    text-align: justify;
    padding: 17px 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }

  .production-text__header {
    padding-top: 16px;
    height: 53px;
    font-size: 20px;
    margin-left: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
  }

  .clients__client {
    height: 87px;
    width: 100%;
    min-height: 87px;
    height: 90%;
    padding: 5px;
  }

  .clients__client img {
    max-height: 75px;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .feedback-slider {
    padding: 0px 12px;
    width: 100%;
  }

  .feedback-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -39px;
    height: 78px;
    width: 22px;
    z-index: 50;
    border: 1px solid #ff9d00;
    font-size: 0;
  }

  .feedback-slider .slick-prev {
    left: 0;
    background: url("../img/production/arrow-left.png") center no-repeat !important;
  }

  .feedback-slider .slick-prev:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-left_active.png") center no-repeat !important;
  }

  .feedback-slider .slick-next {
    right: 0;
    background: url("../img/production/arrow-right.png") center no-repeat !important;
  }

  .feedback-slider .slick-next:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-right_active.png") center no-repeat !important;
  }

  .feedback-slider__slide img {
    height: 377px;
    width: 274px;
  }

  .contacts {
    position: relative;
    font-weight: 300;
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__title {
    display: block;
    margin-bottom: 5px;
  }

  .contacts-block {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 40px 45px;
    padding-left: 40px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }

  .contacts-block__title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .contacts-block__title::before {
    position: absolute;
    content: '';
    left: -30px;
    top: 4px;
    height: 100%;
    width: 20px;
  }

  .contacts-block__text {
    margin-bottom: 25px;
  }

  .contacts-block__address span:nth-child(1)::before {
    background: none;
  }

  .contacts-block__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    line-height: 25px;
  }

  .contacts-block__phone span:nth-child(1)::before {
    background: none;
  }

  .contacts-block__phone .contacts-block__title {
    margin-bottom: 0px;
  }

  .contacts-block__cta {
    margin-bottom: 15px;
  }

  .contacts-block__mail {
    margin-bottom: 0px;
  }

  .contacts-block__mail span:nth-child(1)::before {
    background: none;
  }

  .popup {
    width: 480px;
  }

  .popup-form {
    padding: 20px 20px;
  }

  .popup-form__input {
    margin-bottom: 15px;
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .popup-form__label {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }

  .popup-form-header {
    width: 100%;
    font-size: 22px;
  }

  .popup-form-header span {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .section-title::after {
    height: 0;
    width: 0;
  }

  .button {
    padding: 12px 16px;
  }

  .header-hum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-logo {
    background: #ff9d00 url(../img/header-logo_mobile.png) center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }

  .header-contacts__phone {
    font-size: 14px;
  }

  .header-contacts__phone span {
    font-weight: 900;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-contacts__phone:nth-child(2) {
    border: none;
    margin-right: 0;
  }

  .header-contacts__button {
    display: inline-block;
    padding: 7px;
    font-size: 15px;
    line-height: 0;
  }

  .header-contacts__button img {
    width: 14px;
    height: 16px;
  }

  .header-contacts__button span {
    width: 0;
    height: 0;
  }

  .overlay_m .menu {
    display: block;
    position: fixed;
    height: 100%;
    background-color: #373737;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .overlay_m .menu-items {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .overlay_m .menu-items__item {
    margin-top: 25px;
    border-right: none;
    height: 35px;
    width: 100%;
  }

  .overlay_m .menu-items__item::after {
    display: none;
  }

  .overlay_m .menu-items__item:nth-last-child(1) {
    border: none;
  }

  .overlay_m .menu-items__item a {
    margin-top: -10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .overlay_m .menu-items__item a:hover {
    text-decoration: underline;
  }

  .main {
    padding-top: 45px;
    text-align: center;
    background-size: cover;
  }

  .main-text__title {
    font-size: 22px;
    color: #ff9d00;
  }

  .main-text__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .main-text__form {
    background-color: transparent;
    padding: 0;
  }

  .features-block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form {
    display: block;
  }

  .form-text {
    max-width: 300px;
    margin: auto;
    padding-right: 0;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 13px;
  }

  .form-text__title {
    padding-top: 10px;
    display: block;
  }

  .form input:nth-child(2) {
    width: 180px;
    height: 51px;
    padding-top: 14px;
    display: block;
    margin: auto;
  }

  .form__input {
    margin: auto;
    padding: auto;
    width: 270px;
    margin-bottom: 13px;
    padding: 17px 55px;
    font-size: 13px;
  }

  .form__tip {
    margin-left: 0;
    padding-top: 10px;
    font-size: 13px;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .features {
    padding-top: 24px;
  }

  .features-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features-block {
    margin-bottom: 8px;
  }

  .products {
    padding-top: 32px;
    padding-bottom: 23px;
  }

  .products-block__img {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
  }

  .products-block__img img {
    margin: auto;
  }

  .products-block .karton {
    height: 90% !important;
  }

  .products .row .col-12:nth-child(3) .products-block__img {
    height: 100%;
  }

  .offer {
    padding: 50px 0;
  }

  .offer-title {
    width: 300px;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
  }

  .offer-title_small {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 400;
  }

  .offer-form__label {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }

  .offer-form__button {
    margin-bottom: 10px;
  }

  .form__small {
    font-size: 13px;
    font-weight: 300;
  }

  .production {
    padding-top: 0;
  }

  .production-slider-small {
    height: auto;
    margin-bottom: 27px;
  }

  .production-slider-small .slick-arrow {
    top: 50%;
    margin-top: -39px;
    height: 78px;
  }

  .production-slider-small .slick-slide {
    height: 100%;
  }

  .production-slider-small .slick-slide .filter-dark img {
    height: 100%;
    width: 100%;
  }

  .production-text__text {
    text-align: justify;
    padding: 17px 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }

  .production-text__header {
    padding-top: 16px;
    height: 53px;
    font-size: 20px;
    margin-left: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
  }

  .clients__client {
    height: 87px;
    width: 100%;
    min-height: 87px;
    height: 90%;
    padding: 5px;
  }

  .clients__client img {
    max-height: 75px;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .feedback-slider {
    padding: 0px 12px;
    width: 100%;
  }

  .feedback-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -39px;
    height: 78px;
    width: 22px;
    z-index: 50;
    border: 1px solid #ff9d00;
    font-size: 0;
  }

  .feedback-slider .slick-prev {
    left: 0;
    background: url("../img/production/arrow-left.png") center no-repeat !important;
  }

  .feedback-slider .slick-prev:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-left_active.png") center no-repeat !important;
  }

  .feedback-slider .slick-next {
    right: 0;
    background: url("../img/production/arrow-right.png") center no-repeat !important;
  }

  .feedback-slider .slick-next:hover {
    cursor: pointer;
    background: #ff9d00 url("../img/production/arrow-right_active.png") center no-repeat !important;
  }

  .feedback-slider__slide img {
    height: 377px;
    width: 274px;
  }

  .contacts-block {
    padding-left: 40px;
  }

  .popup {
    width: 80%;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup-form {
    padding: 20px 10px;
  }

  .popup-form__label {
    width: 100%;
  }

  .popup-form__input {
    margin-bottom: 15px;
    width: 230px;
    text-align: center;
    font-size: 16px;
  }

  .popup-form__btn {
    padding: 10px 15px;
    margin: auto;
    width: 170px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .popup-form-header {
    width: 100%;
    font-size: 22px;
  }

  .popup-form-header span {
    padding: 5px 20px;
    display: block;
    font-size: 16px;
  }
}